input {
  file {
    type => "symfony"
    path => ["path/to/app/prod.access.log"]
  }
  file {
    type => "symfony"
    path => ["path/to/app/prod.errors.log"]
  }
}
filter {
  if [type] == "symfony" {
		multiline {
			pattern => "^\[%{TIMESTAMP_ISO8601}\]"
			negate => "true"
			what => "previous"
		}
    grok {
      match => [ "message", "%{SYMFONY}" ]
    }
  }
}
output {
  # this will send our event to Elastic Search
  elasticsearch {
    host => "localhost:9200"
    cluster => "elasticsearch"
    node_name => "elastic"
    protocol => http
  }
}


